PORT=8080
DATABASE_URL=file:./dev.db
JWT_SECRET=change_me_dev_only
FRONTEND_ORIGIN=http://localhost:5176
JWT_ISSUER=wph-backend
JWT_AUDIENCE=wph-web
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:5176/patient
STRIPE_CANCEL_URL=http://localhost:5176/pharmacy

# Clover Hosted Checkout
CLOVER_ENV=sandbox
CLOVER_MERCHANT_ID=
CLOVER_PRIVATE_KEY=

